<p>geolocations works!</p>

<button class="b-icon" routerLink="/new">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_location_alt"></mat-icon>
</button>

<div class="b-filters">
    <div>
        <input type="text" placeholder="Search location" (keyup)="onChange($event)">
    </div>

    <div>
        <mat-form-field>
            <mat-label>Search by</mat-label>
            <mat-select [(value)]="selectedType" >
            <mat-option *ngFor="let type of searchTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="onClickList()">list</button>
        <button (click)="onClickList()">table</button>    
    </div>
</div>

<div class="my-google-map">
    <google-map [width]="700" [height]="300" class="b-map" [options]="mapOptions">
        <map-marker *ngFor="let locat of locationList"
                [position]="locat.position"></map-marker>
    </google-map>    
</div>


<ul [ngClass]="{'b-list': isList}" *ngIf="locationList">
    <li [ngClass]="{'b-list__li': isList}" (click)="onClickItem(location)" *ngFor="let location of (filteredLocationList.length? filteredLocationList : locationList)">
        <img [ngClass]="{'b-list__img': isList}" src="{{location.image ? location.image : placeholderImg}}" />
        <h2>{{location.location_name}}</h2>
        <h3>{{location.country}}</h3>
        <a routerLink="/{{location.id}}">More info</a>

    </li>
</ul>
