
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Geolocation-app-angular-primary: mat.define-palette(mat.$indigo-palette);
$Geolocation-app-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Geolocation-app-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Geolocation-app-angular-theme: mat.define-light-theme((
  color: (
    primary: $Geolocation-app-angular-primary,
    accent: $Geolocation-app-angular-accent,
    warn: $Geolocation-app-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Geolocation-app-angular-theme);

/* You can add global styles to this file, and also import other style files */

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }


body {
    background-color: rgb(223, 223, 223);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.b-iconRound {
    background-color: #bedf2e;
    color: rgb(84, 84, 94);
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 20px rgba(50, 51, 49, 0.4);

  &--add {
    color: white;
    transform: scale(1.5);
}

  &--white {
      color: rgb(255, 255, 255);
  }

  &:hover {
      background-color: #bedf2e;
      box-shadow: 0px 15px 20px rgba(115, 153, 11, 0.4);
      color: #fff;
      transform: scale(1.1);
  }
}

.b-iconAux {
  color: grey;
  transform: scale(1.45);
  border: none;
  background-color: 0;
  
  &:hover {
    color: #b4b4b4;
  }
  &--red {
    color: rgb(231, 77, 77);
  }

}
