.b-icon {
    width: 20px;
    height: 20px;
}

.b-footer {
    width: 100%;
    display: flex;
    bottom: 0;
    height: 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}